.DS_Store
/target
/classes
/checkouts
pom.xml
pom.xml.asc
figwheel_server.log
*.jar
*.class
/.lein-*
/.nrepl-
/app/js/p
/.repl
/out
node_modules
/electron
/app/config.json
/app/*.log
/builds
/app/components
.nrepl-port
/spec/static/test.js
/.repl*
*-init.clj
.idea
*.iml
SearchIndex
app/build
sogrep-src/extractor
sogrep-src/sogrep
sogrep-src/Makefile
nodelucene/searcher
nodelucene/Makefile
*.exe
*.dll
*.lib
*.exp
*.obj
*.dir
*.vcxproj
*.vcxproj.filters
*.sln
*.sdf
*.opendb
extractor
sogrep
searcher
CMakeFiles
CMakeCache.txt
cmake_install.cmake
build
app/SOPython
sqlite_score/zest_score.sqlext
sogrep-src/x64
nodelucene/x64
bzip2.v120.1.0.6.2
LevelDB.1.16.0.5
LucenePlusPlus
Microsoft
node-sqlite3
rapidjson.1.0.2
zlib-1.2.8
zlib-1.2.8.tar
xercesc.3.1.1
xercesc.redist.3.1.1
libarchive
lein.bat
electron-v*-win32*
bzip2_prefix