th {
    color: black;  /* fixes angular doc */
}

a:hover {
    box-shadow: none;
}

#settings-modal {
    min-width: 1000px;
    max-height: 90%;
    top: 5% !important;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(2fcrYFNaTjcS6g4U3t-Y5UEw0lE80llgEseQY3FEmqw.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.searchDocset {
    display: flex;
    height: 3rem;
    position: absolute;
    width: inherit;
    align-items: flex-end;
    justify-content: flex-end;
    color: #aaa;
    padding: 0.5rem;
    font-size: 75%;
    z-index: -1000;
}
#searchInput {
    padding: 0;
    margin: 0;
    padding: 0 0.5rem;
    box-sizing: border-box;
}

#left {
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.87);
}

/* split.js */
.split, .gutter.gutter-horizontal, #left, #right {
  height: 100%;
  float: left;
}
#right-contents {
  height: 100%;
}

.tree {
  box-shadow: none;
  position: absolute;
  top: 3rem;
  margin: 1px 0;
  bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
  width: inherit;
}

.tree .level2 {
  box-shadow: none;
  margin: 0;
  margin-top: -1px;
  margin-left: 1rem;
}


#right .pageSearchInput {
    height: 3rem;
    padding-bottom: 2px;
    padding-left: 1rem;
    box-sizing: content-box;
    position: fixed;
    right:0;
    z-index: 10000;
}
#right .pageSearchInput a {
    width: 36px;
    padding: 0;
}
#right .pageSearchInput input {
    margin: 0 1rem;
    width: 200px;
}
#right .pageSearchInput * {
    display: inline-block;
    width: auto;
}
.error {
    color: red;
}

.gutter {
  background-color: #eee;

  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  background-image: url('grips/vertical.png');
  cursor: ew-resize;
}


/* https://bitbucket.org/samuel.lai/stackdump/src/15159ac5b5469ddaebf76dc23d1c22dacfb845b5/python/media/css/main.css?at=default&fileviewer=file-view-default */

.post-logo {
    float: left;
    width: 48px;
}

.post-stats-vertical {
    float: left;
    width: 64px;
}

.post-stat {
    text-align: center;
    background-color: #F2F2F2;
    margin-bottom: 5px;
    padding: 10px 5px;
}

.post-stat-img {
    background-color: transparent;
}

.post-stat p {
    margin-bottom: 0;
}

.post-stat-value {
    font-weight: bold;
    font-size: 16pt;
    color: #000000;
}

.post-stat-value-poor {
    color: #AAAAAA;
}

.post-stat-value-good {
    color: #5ebb00;
}

.post-summary {
    padding-left: 72px; /* 64px for post-stats-vertical + 8px for padding */
}

.post-summary-with-logo {
    padding-left: 120px; /* 48px for post-logo + 64px for post-stats-vertical + 8px for padding */
}

.post-summary h3 {
    line-height: normal;
    padding: 7px 0;
    margin-bottom: 0;
}

.post-details {
    float: right;
}

.post-tags, .post-actions {
    margin-bottom: 10px;
}

.post-actions a {
    color: #999999;
}

.question h1 {
    border-bottom: 1px solid #CCCCCC;
    padding-bottom: 7px;
    margin-top: 15px;
}

.post-body, .post-metadata, .post-comments {
    margin-left: 72px; /* 64px for post-stats-vertical + 8px for padding */
}

/* undo the zero margin-bottom imposed by bootstrap */
.post-body ul, .post-body ol {
    margin-bottom: 7px;
}

.post-body .external-link, .post-comments .external-link {
    color: #999999;
}

.post-metadata {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #CCCCCC;
}

.post-user {
    float: right;
    margin-left: 50px;
    color: #404040;
}

.post-comments {
    clear: right;
}

.post-comments ul {
    list-style: none;
    margin-left: 0;
    margin-bottom: 18px;
}

.post-comments li {
    border-bottom: 1px solid #E3E3E3;
    padding: 7px 4px 7px 0;
    color: #404040;
}

.post-comments li:last-child {
    border-bottom: none;
}

li .post-comment-score {
    float: left;
    font-weight: bold;
    color: #000000;
    width: 40px;
    text-align: center;
    line-height: normal;
    margin-bottom: 0;
}

li .post-comment-text {
    margin-left: 40px;
    line-height: 20px;
    margin-bottom: 0;
}

/* this rule is needed as comments are wrapped in <p>...</p> but we want the
 * user name afterwards to appear on the same line. */
li .post-comment-text > p {
    display: inline;
}

li .post-comment-metadata {
    color: #999999;
}

.show-comments {
    display: none;
    margin-bottom: 18px;
}

.user-card {
    background-color: #F2F2F2;
}

.user-card .user-name {
    padding: 4px 7px;
}

.user-card .user-rep {
    float: right;
    font-weight: bold;
    font-size: 15px;
    background-color: #CCCCCC;
    padding: 4px 7px;
}

div.moderated {
    background-color: #F2F2F2;
    padding: 10px;
    text-align: center;
    margin-left: 0;
}

div.moderated p {
    margin: 0;
    font-size: 1.2em;
}

div.answers {
    margin-top: 30px;
}

ul.answers {
    list-style: none;
    margin-left: 0;
}

ul.answers > li {
    padding-bottom: 30px;
    border-bottom: 1px solid #999999;
    margin-top: 30px;
    color: #404040;
    clear: both;
    display: block;
}

ul.answers > li:last-child {
    border-bottom: none;
}

h1.answers {
    margin-bottom: 7px;
    line-height: normal;
    border-bottom: 1px solid #999999;
    padding-bottom: 7px;
}

.no-answers {
    font-size: 24pt;
    color: #CCCCCC;
    text-align: center;
    padding-bottom: 120px;
    padding-top: 90px;
}

#footer, #footer-push {
    height: 20px;
}

#footer {
    clear: both;
    border-top: solid 1px #999999;
    background-color: #CCCCCC;
    padding: 7px 10px;
}

#footer .footer-right {
    float: right;
}

.nodata.row, .importinprogress.row, .errormessage.row {
    margin-top: 50px;
    margin-bottom: 20px;
}

.nodata h2, .importinprogress h2, .errormessage h2 {
    margin-top: 25px;
    margin-bottom: 7px;
}

.nodata li {
    color: inherit;
    border-bottom: 1px solid #F2F2F2;
    padding-bottom: 7px;
    margin-bottom: 7px;
}

.nodata li:last-of-type {
    border-bottom: none;
    padding-bottom: inherit;
    margin-bottom:  inherit;
}

.nodata pre {
    margin-top: 7px;
}

p.page-actions {
    padding-top: 25px;
}

.importinprogress .subinfo, .errormessage .subinfo {
    color: #999999;
}

.collapsible-header._list-item:before {
    margin: 1rem 0.8rem;
    margin-left: -0.4rem;
}

html {
    font-size: 100%;
}