<ul>
{{#each comments }}
<li {{!-- {% if loop.index > default_comments_max %}class="hidden-comment"{% endif %} --}}>
    {{#if Score }}
    <p class="post-comment-score">{{ Score }}</p>
    {{/if}}
    <div class="post-comment-text">
        {{ Text }} &mdash;
        <span class="post-comment-metadata">
            <strong>{{ UserDisplayName }}</strong> {{!-- on --}}
            {{!-- <strong>{{ c.creationDate|format_datetime }}</strong> --}}
        </span>
    </div>
</li>
{{/each}}
</ul>